{{ if .Site.Data.servicios.enable }}
{{ "<!-- Servicios Section Start -->" | safeHTML }}
<section class="servicios-list section bg-gray">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="title text-center">
                    {{ with .Site.Data.servicios.topTitle }}<h4>{{.}}</h4>{{ end }}
                    {{ with .Site.Data.servicios.title }}<h2>{{.}}</h2><span class="border"></span>{{ end }}
                    {{ with .Site.Data.servicios.subtitle }}<p>{{.}}</p>{{ end }}
                </div>
            </div>
        </div>
        <div class="row">
            {{ range .Site.Data.servicios.item }}
            <div class="col-md-4">
                <div class="block">
                    {{ with .icon }}<i class="{{.}}"></i>{{ end }}
                    {{ with .title }}<h3>{{.}}</h3>{{ end }}
                    <ul>
                        {{ range .list }}
                        <li>{{.name}}</li>
                        {{ end }}
                    </ul>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ "<!-- Servicios Section Start -->" | safeHTML }}
{{ end }}