{{ if .Site.Data.testimonios.enable }}
<section class="testimonios section" id="testimonios">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {{ "<!-- testimonios wrapper -->" | safeHTML }}
                <div class="testimonios-slider">
                    {{ range .Site.Data.testimonios.item }}
                    {{ "<!-- testimonios single -->" | safeHTML }}
                    <div class="item text-center">
                        <i class="tf-ion-quote"></i>
                        {{ "<!-- clientes quote -->" | safeHTML }}
                        <div class="clientes-details">
                            <p>{{ .quote }}</p>
                        </div>
                        {{ "<!-- clientes photo -->" | safeHTML }}
                        <div class="clientes-thumb">
                            <img src="{{ .clientThumb | absURL }}" class="img-fluid" alt="clientes-imagen">
                        </div>
                        <div class="clientes-meta">
                            <h4>{{ .clientName }}</h4>
                            <span>{{ .clientDesignation }}</span>
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>
{{ "<!-- End Section -->" | safeHTML }}
{{ end }}